- const questions = [
- {
-   question: 'Как сделать  приложение бесплатно?',
-   answer: 'Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал',
-   index: 'First',
- },
- {
-   question: 'Как выпустить приложение?',
-   answer: 'Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал',
-   index: 'Second',
- },
- {
-   question: 'Как работает техническая поддержка??',
-   answer: 'Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал',
-   index: 'Third',
- },
- {
-   question: 'Как сделать дизайн приложения?',
-   answer: 'Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал',
-   index: 'Fourth',
- },
- {
-   question: 'Как продавать через приложение?',
-   answer: 'Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал Ответ на вопрос, который еще никто не придумал' ,
-   index: 'Fifth',
- },
-];
.faq
    .faq-circle.faq-circle--first
    .faq-circle.faq-circle--second
    .faq-circle.faq-circle--third
    .faq-circle.faq-circle--fourth
    .faq-line
    .container
        .plans-breadcrumbs
            span 08
            span F.A.Q
        .plans-title Остались вопросы?
        .accordion.faq-accordion#faqAccordion
            each item in questions
                .faq-accordion-item
                    .faq-accordion-item__header(id=`heading${item.index}`)
                        button.faq-accordion-item__button(type="button", data-toggle="collapse", data-target=`#collapse${item.index}`, aria-controls=`collapse${item.index}`, aria-expanded="false")
                            span #{item.question}
                    .collapse.faq-accordion-item__body(id=`collapse${item.index}`, aria-labelledby=`heading${item.index}`, data-parent="#faqAccordion")
                        span #{item.answer}